/*Ecriture*/

@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light-webfont.woff2') format('woff2'),
         url('fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Elements Principaux */

body {
	font-family: 'open_sanslight', Arial, sans_serif;	
}

.bloc_AB {
	display: flex;
	flex-direction: row;
	border: 2px #616161 solid;
	margin: auto;
	width: 900px;
	justify-content: flex-start;
	max-width: 1280px;
}

h1 {
	font-size: 3em;
}

p, ul {
	font-size: 0.8em;
}

/*Elément secondaires*/

/*Bloc A*/

.bloc_A {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #00ACC1;
	width: 300px;	

}

.titre_A {
	text-align: center;
	color: #00ACC1;
	padding-right: 25px;
	background-color: #616161;
}

.photo_kev {
	width: 200px;
	border-radius: 50%;
	border:3px black solid ;
}

.photo {
	text-align: center;
	height: 100px;
	margin-top: 30px;
	margin-bottom: 120px;
}

.contact {
	height: 150px;
	margin-top: -20px;
	margin-bottom: 30px;
	margin-left: 20px;
}

.propos {
	height: 300px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: justify;

}

.loisirs {
	display: flex;
	flex-direction: row;
	height: 80px;
}

.biker {
	border-radius: 50%;
	border: 1px black solid;
	margin-bottom: 10px;
	margin-left: 10px;

}

.fa-bicycle {
	font-size: 50px;
	margin-left: 20px;
	position: relative;
	top: 9px;
	right: 10px;
}

.hammer {
	border-radius: 50%;
	border: 1px black solid;
	margin-bottom: 10px;
	margin-left: 10px;
}

.fa-tools {
	font-size: 50px;
	margin-left: 30px;
	position: relative;
	top: 9px;
	right: 15px;
}

.book {
	border-radius: 50%;
	border: 1px black solid;
	margin-bottom: 10px;
	margin-left: 10px;
}

.fa-book {
	font-size: 50px;
	margin-left: 30px;
	position: relative;
	top: 9px;
	right: 15px;
}

/*Bloc B*/

.bloc_B {
	display: flex;
	flex-direction: column;
	width: 600px;
	background-color: white; 
	padding-left: 20px;
	padding-right: 20px;	
}

.sous_titre {
	margin-top: -35px;

}

.sous_titre_2 {
	
	text-decoration: underline solid #00ACC1  ;
}
.kevin {
	color: #00ACC1;
}

/* Bloc formation*/

.formation0 {
	display: flex;
	flex-direction: row;

}

.fa-graduation-cap{
	padding-top: 5px;
	margin-right: 10px;
	margin-top: 10px;
	height: 35px;
	color: #00ACC1;
	font-size: 30px;
}

.formation {
	display: flex;
	flex-direction: column;
	border-top: 2px solid #00ACC1;
	margin-top: -9px;
	padding-top: 10px;
}

.formation1 {
	display: flex;
	flex-direction: row;
}

.formation1_1 {
	display: flex;
	flex-direction: row;
	margin-right: 20px;
	width: 200px;
}

.point {
	height: 10px;
	margin-top: 15px;
	margin-right: 10px;
}

.formation1_2 {
	display: flex;
	flex-direction: column;
}

.titre1_2 {
	margin-bottom: -9px;
	font-weight: bold;
}

.sous_titre1_2 {
	margin-bottom: -9px;
}

.formation2 {
	display: flex;
	flex-direction: row;
}

.formation2_1 {
	display: flex;
	flex-direction: row;
	margin-right: 20px;
	width: 200px;
}

.formation2_2 {
	display: flex;
	flex-direction: column;
	margin-left: -22px;

}

.titre2_2 {
	margin-bottom: -9px;
	font-weight: bold;
}

.sous_titre2_2 {
	margin-bottom: -9px;
}

/*Bloc expériences*/

.experience0 {
	display: flex;
	flex-direction: row;
}

.fa-briefcase {
	padding-top: 15px;
	margin-right: 15px;
	height: 35px;
	color: #00ACC1;
	font-size: 30px;
}

.experience1 {
	display: flex;
	flex-direction: row;
	border-top: 2px solid #00ACC1;
	margin-top: -6px;
	padding-top: 10px;
}

.experience1_1 {
	display: flex;
	flex-direction: row;
	margin-right: 17px;
	width: 205px;
}

.experience1_2 {
	display: flex;
	flex-direction: column;
	
}

.titre1_2 {
	margin-bottom: -9px;
	font-weight: bold;
}

.sous_titre1_2 {
	margin-bottom: -9px;
}

.experience2 {
	display: flex;
	flex-direction: row;
}

.experience2_1 {
	display: flex;
	flex-direction: row;
	margin-right: 20px;
	width: 200px;
}

.experience2_2 {
	display: flex;
	flex-direction: column;
	margin-left: -20px;

}

.titre2_2 {
	margin-bottom: -9px;
	font-weight: bold;
}

.sous_titre2_2 {
	margin-bottom: -9px;
}

.experience3 {
	display: flex;
	flex-direction: row;
}

.experience3_1 {
	display: flex;
	flex-direction: row;
	margin-right: 12px;
	width: 380px;
}

.experience3_2 {
	display: flex;
	flex-direction: column;
	
}

.titre3_2 {
	margin-bottom: -9px;
	font-weight: bold;
}

.sous_titre3_2 {
	margin-bottom: -9px;
}

/* Bloc recommandation*/

.recommandation0 {
	display: flex;
	flex-direction: row;
}

.fa-pencil-alt {
	padding-top: 10px;
	height: 35px;
	margin-right: 10px;
	color: #00ACC1;
	font-size: 33px;
}

.recommandation {
	display: flex;
	flex-direction: row;
	border-top: 2px solid #00ACC1;
	margin-top: -6px;
	padding-top: 10px;
}

.recommandation2 {
	margin-left: 130px;
}

.statut {
	margin-top: -10px;
}

.telephone {
	margin-top: -10px;
	margin-bottom: -10px;
}


/*Media queries*/

@media all and (min-width: 768px) and (max-width: 1024px) {	/*iPad*/

	.bloc_AB {
		padding-right: 200px;
		margin: auto;
	}

	.bloc_A {
		width: 300px;
	}

	.bloc_B {
		width: 400px;
	}

	.experience2_2, .experience3_2 {
		padding-left: 10px;
	}
}

@media screen and (max-width: 480px)  { /*Téléphone Vertical*/

	.bloc_AB {
		display: flex;
		flex-direction: column;
		margin: auto;
		width: 300px;
	}

	.loisirs {
		margin-left: 10px;
	}

	.bloc_B {
		width: 250px;
	
	}
	.formation2_2 {
		margin-left: 1px;
	}

	.experience2_2 {
		margin-left: 5px;
	}

	.experience3_2 {
		margin-left: 12px;
	}

	.recommandation {
		display: flex;
		flex-direction: column;
	}	

	.recommandation2 {
		margin-left: -1px;
	}
}

@media screen and (max-height: 480px) { /* Téléphone Horizontal*/

	.bloc_AB {
		width: 300px;
		margin: auto;
		margin-left: -10px;
	}
	
	.bloc_A {
		width: 245px;
	}

	.loisirs {
		margin-right: 10px;
	}

	.fa-bicycle, .fa-tools, .fa-book {
		font-size: 40px;
	}

	.propos {
		margin-bottom: 10px;
		margin-top: -30px;
	}


	.bloc_B {
		width: 400px;
	}

	.formation1_2 {
		margin-right: 20px;
	}

	.experience2_2 {
		margin-right: -30px;
	}

	.recommandation1 {
		margin-right: -30px;
	}
}
